body {
    margin: 0;
    padding:0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 500px;
}

.register-header {
    height: 400px;
}

 header nav {
    height: 100vh;
    background: #ffffff;
    box-shadow: none;

}

nav .brand-logo {
    height: 100px;
    left: 15%;
    }
 

nav .brand-logo img {
width: 100px;
margin-top: 5px;
background-color: greenyellow;
box-shadow: none;
margin-left: 15px;
border-radius: 5px;
margin-bottom: 10px;
}



header nav ul {
    height: 100px;
}

header ul a {
    color: gray;
}

.center-align {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin-top: 80px;
}

 .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.btn {
    margin-top: 30px;
    border-radius: 10px;

}
